html , body{
	height: 100%;
}

.login-container {
	margin-top: 10%;
 	border: 1px solid #CCD1D1;
 	border-radius: 5px;
 	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 	max-width: 50%;

}

.wrap {
	width: 100%;
    height: 100%;
    background-color: white;
}

.logopic {
	width: 50%;
	height: 445px;
	background:#002a16;
 	float: left;
	
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	vertical-align: middle;
	margin-top: auto;
	margin-bottom: auto;
}

.login {
	width: 100%;
	height: 100%;
	padding: 15px;
	background: #ffff;
	float: right;

}

.login h3{
	text-align: center;
	margin-top: 50px;
	color: #002a16;
	font-size: 50px;
	letter-spacing: 4px;
	font-family: 'Muli', sans-serif;
}

.pass {
	 padding: 3%;
	 display: flex;
	 margin-top: -20px;
}

.email_box {
	margin-top: 25px;
}

.username {
	 padding: 3%;
	 display: flex;
}

.input-group-prepend span {
display: flex;
width: 50px;
background-color: #002a16;
color: white;
border:0 !important;
}

.login_btn {
padding:3%; 
color: white;
background-color: #002a16;
margin-right: auto;
margin-left: auto;
margin-top: 30px;
width: 100px;
font-size: 18px;
letter-spacing: 2px;	
}


.forgot_pass {
	margin-top: -30px;
	height: 50px;
	color: #999999;
	font-style: italic;
}

.sidebar-container {
	width:500px;
	height: 450px;
	color: #002a16;
}

.sidebar {
	font-family: "Roboto", sans-serif;
	font-family: "Roboto", sans-serif;
    background: #fdfdfd;
    width: 300px;
    overflow: hidden;
    display: inline-block;
    height: calc(100vh - 70px);
    position: fixed;
    top: 70px;
    left: 0;
}

.user-info {
	padding: 13px 15px 12px 15px;
    white-space: nowrap;
    position: relative;
    border-bottom: 1px solid #e9e9e9;
    height: 135px;
    color: white;
    background-color: #004d28;
}

.imagedp {
	margin-right: 12px;
	display: inline-block;
}

.imagedp img {
	width: 48px;
	height: 48px;
	border-radius: 50%;
    vertical-align: bottom !important;
}

.menu {
	position: relative;
    overflow-y: auto;
    height: 90vh;
}

.menu.list {
	list-style: none;
	padding-left: 0;
}

ul {
	margin-top: 0;
	margin-bottom: 10px;
}

li {
	list-style: none;
	padding: 15px 10px;
	margin-bottom: 0;
}

.analytics-list {
	list-style: none;
    padding-left: 0;
}

.menu.list a {
	color: #747474;
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    width: 100%;
    padding: 10px 13px;
}

.legal {
	background-color: #ffff;
	position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #eee;
    padding: 15px;
    overflow: hidden;
}

.copyright {
	color: black;
	white-space: pre;
}